---
---

:root {
  --muted-blue: #20407c;
  --muted-blue-light: #8291af;
  --code-grey: #ededed; 
  --soft-grey: #c4c4c4;
  --middle-grey: #666666;
  --accent-blue: #8eb9ff;
  --transparent-black: rgba(0, 0, 0, 0.95);
  --button-transparent: rgba(0, 0, 0, 0.5);
}

*,*::before,*::after{
  box-sizing: border-box;
}

// Site variables

$rule-thickness: 1px;


// Menu Variables

$element-fade-in-time: 0.5s;
$animation-time: 0.2s;
$half-animation-time: 0.1s;
$delay: 0.1s;
$first-func: ease-in;
$second-func: ease-out;
$start-color: var(--muted-blue-light);
$end-color: var(--soft-grey);
$border-color: var(--muted-blue-light);
$radius: 0px;
$thickness: 1px;
$background-color: white;
$std-bs: none;
$nav-font-size: 1.25rem;
$menu-time: 0.5s;

// Social variables

$base-size: 70px;
$start-font-color: var(--middle-grey);
$end-font-color: var(--muted-blue);
$start-font-size: 1.75em;
$end-font-size: 2.25em;
$start-border-color: var(--soft-grey);
$end-border-color: var(--muted-blue-light);
$socials-thickness: 1px;

body {
	font-size: 1.125em;
  background-color: $background-color;
  margin: 0 calc( (2/5) * (100vw - 800px + (0.02 * 800px) ) );
}

ul:not(.topnav) {
	list-style-type: square;
}

ul.topnav {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 10px;

  a,
  span {
    text-decoration: none;
    color: inherit;
    font-family: "Montserrat", sans-serif;
    font-size: $nav-font-size;
    letter-spacing: 2px;
    cursor: pointer;
    padding: 5px 10px;
	text-align: center;
    &.active_link {
      font-weight: 500;
    }
  }

  li {
	width: 175px;
    padding: 0 20px;
    &.menu_icon {
      display: none;
    }
  }
}

.box {
  display: block;
  background: $background-color;
  position: relative;
  border-radius: $radius;

  .border_line {
    position: absolute;
    height: 0;
    width: 0;
    border: none;
    background-color: $border-color;
    box-shadow: $std-bs;
  }

  .bottom_line,
  .left_line {
    bottom: 0;
    left: 0;
  }

  .bottom_line {
    transition: width $half-animation-time $first-func;
    //border-radius: 0 0 $radius $radius;
    background-image: linear-gradient(to right, $start-color, $end-color);
  }

  .left_line {
    transition: height $half-animation-time $first-func;
    //border-radius: $radius 0 0 $radius;
    background-image: linear-gradient($end-color, $start-color);
  }

  .top_line {
    top: 0;
    left: 0;
    transition: width $half-animation-time $second-func $delay;
    //border-radius: $radius $radius 0 0;
    background-image: linear-gradient(to right, $end-color, $start-color);
  }

  .right_line {
    bottom: 0;
    right: 0;
    transition: height $half-animation-time $second-func $delay;
    //border-radius: 0 $radius $radius 0;
    background-image: linear-gradient($start-color, $end-color);
  }

  &:hover {
    .bottom_line,
    .top_line {
      width: 100%;
      height: $thickness;
    }
    .left_line,
    .right_line {
      height: 100%;
      width: $thickness;
    }
  }
}

h2, h3, h4, h5 {
	font-family: 'Source Sans Pro', sans-serif;
	//letter-spacing: 1px;
}

/* Button styling reset */

button:not(.std_button) {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  color: inherit;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:not(.std_button):focus {
  outline: none;
}

// Preventing selection button when tapping on mobile
// See https://stackoverflow.com/questions/21003535/anyway-to-prevent-the-blue-highlighting-of-elements-in-chrome-when-clicking-quic

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#mobile-indicator{
  display: none;
}

@media only screen and (max-width: 800px) {
  body{
    margin:0 2%;
  }
}

@media only screen and (max-width: 650px) {

  #mobile-indicator{
    display: block;
  }

  body.openMenu {
    height: 100vh;
    overflow: hidden;
  }

  ul.topnav {;
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height:100vh;
    width: 0;
    // Bring menu on top of everything in case position relative elements are on same layer
    z-index: 999;
    transition: all $menu-time;

	a {
		text-align:right;
	}

    &.openMenu {
      width: 100vw;
      height: 100vh;
      background-color: var(--transparent-black);


      li {
        display: inline;
        &.menu_icon button {
          background: none;
        }
      }
    }

    span {
      display: none;
    }
    li {
      text-align: right;
      display: none;
      &.menu_icon {
         // Use this class to li#menu_button if you want the menu button to appear from the start, i.e. if the title is unimportant
        &.always_show {
          display: inline;
        }

        button {
          width: 40px;
          height: 40px;
          color: white;
          border-radius: $radius;
          background-color: var(--button-transparent);
        }
      }
      a.box {
        color: white;
        background: none;
      }
    }
  }
}

/* Socials styling */
/* This is inspired by  */
*,*::before,*::after{
  box-sizing: border-box;
}

.socials_wrapper{
  margin:10px 2.5%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
  width: 95%;

  &::before,&::after {
    position: absolute;
    content:"";
    top:0;
    width: 50%;
    height: 100%;
    background: $background-color;
    z-index:1;
    transition: all $element-fade-in-time;
  }

  &::before{
    left:0;
  }
  &::after{
    right:0;
  }

  &.showing{
    &::before,&::after{
      width:0;
    }
  }

  a{
    flex: 0 0 $base-size;
    text-decoration:none;
    width:$base-size;
    height:$base-size;
    color: $start-font-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:$start-font-size;
    position: relative;

    &::before,&::after {
      display: block;
      content:"";
      position:absolute;
      width:100%;
      height:0;
      transition: all $animation-time;
    }

    &::before{left:0;
      top:0;
      left:0;
      border-top: $socials-thickness solid $start-border-color;
      border-left: $socials-thickness solid $start-border-color;
    }

    &::after{
      bottom:0;
      right:0;
      border-bottom: $socials-thickness solid $start-border-color;
      border-right: $socials-thickness solid $start-border-color;
    }

    &:hover {
      color: $end-font-color;
      font-size: $end-font-size;
      &::before,&::after{
        width:0;
        height:100%;
        border-color: $end-border-color;
      }
    }
  }
  span{
    flex: 1 2 $base-size;
    height: $base-size;
    border-top: $socials-thickness solid $start-border-color;
    border-bottom: $socials-thickness solid $start-border-color;
  }
}

/* Styling for site */

// General
main {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  line-height: 1.25em;
  &.article{
	  margin:0 100px;
  }
}
h1.site_title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
  color: var(--muted-blue);
  a {
      text-decoration: none;
      color: inherit;
  }
}

@keyframes opacity_fade_in {
  from { opacity: 0; width: 0; }
}

hr.toprule {
  margin-top:1em;
  width:95%;
  animation: opacity_fade_in $element-fade-in-time;
  opacity: 1;
  height: $rule-thickness;
  border: 0;
  background: var(--soft-grey);
}

hr.midrule {
    margin-top:1em;
    width:50%;
    background: var(--soft-grey);
    border: 0;
    height: $rule-thickness;
}

button.c2a{
	border-radius: 0px;
	border: 1px solid var(--muted-blue-light);
	font-family: "Montserrat", sans-serif;
	color: var(--muted-blue);
	padding: 10px;
	transition: background $animation-time, color $animation-time;
	&:hover{
		background:var(--muted-blue-light);
		color: white;
	}
	a {
		text-decoration: none;
	}
	&.inline{
		font-size: 0.8em;
		padding: 5px;
	}
}

@media only screen and (max-width: 550px) {
	body {
		font-size: 1em;
	}
	main.article{
		margin: 0 0 ;
	}
}
// About page

.two_column{
	width:100%;
	display:grid;
	grid-template-columns: [words] 2fr  [figure] 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "words figure";
	.word_container{
		grid-area: words;
		display: flex;
		flex-direction:column;
		justify-content: center;
		text-align: left;
		padding-right: 5%;
		padding-top: 5%;
		padding-bottom: 5%;
		p.opening_line_1{
			font-size: 1.5em;
			margin:0;
			font-weight: bold;
		}
		p.opening_line_2{
			font-size:1.125em;
		}
		p.opening_line_4{
			margin: 0;
		}
		hr.little_rule {
			width:25%;
			background: var(--soft-grey);
			border: 0;
			margin: 0;
			height: $rule-thickness;
		}
	}
	.figure_container{
		grid-area: figure;
		display:flex;
		justify-content: space-around;
		align-items: center;
		.image_container{
			display: flex;
			flex-direction: column;
			align-items: center;
			img{
				max-height:100%;
				max-width: 100%;
			}
		}
	}
}

.featured_projects {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 75px 1fr 1fr 40px;
	grid-gap: 20px;
	.featured_projects_title {
		grid-column: 1 / span 2;
		h2 {
			text-align: center;
		}
	}
	.featured_project_card {
		width:100%;
		height: 100%;
		text-align: center;
		position: relative;
		.featured_image_holder {
			img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		.featured_title_overlay {
			position: absolute;
			bottom: 0;
			left: 0;
			text-align: left;
			width: 100%;
			height: 100%;
			background-color: black; 
			opacity: 0;
			transition: opacity $element-fade-in-time;
			&:hover {
				opacity: 0.85;
			}
			p {
				position: absolute;
				bottom:5px;
				left:10px;
				margin: 0;
				font-size: 1.125em;
				text-decoration: none;
				color: white;
			}
		}
		.mobile_only_link {
			display: none;
		}
	}
	.featured_see_more {
		grid-column: 1 /span 2;
		text-align:center;
	}
}

@media only screen and (max-width: 550px) {
	.two_column {
		display: flex;
		flex-direction: column;
		.word_container hr.little_rule{
			margin: auto;
		}
	}
	.featured_projects{
		grid-template-columns: 1fr;
		grid-template-rows: 75px repeat(4, 1fr) 40px;
		.featured_projects_title {
			grid-column: 1;
		}
		.featured_project_card {
			.featured_title_overlay:hover{
				opacity: 0;
			}
			.mobile_only_link {
				font-size: 1.125em;
				color: var(--muted-blue);
				padding-top:5px;
				display: block;
			}
		}
		.featured_see_more{
			grid-column: 1;
		}
	}
}

// Blogpost page

h2.post_title{
    text-align:center;
}

// Portfolio page

.portfolio_card {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: max-content max-content;
    grid-gap: 0 1em;
    grid-template-areas: "portfolio_card_title portfolio_card_title" "portfolio_card_img portfolio_card_text";

    .portfolio_card_title {
      grid-area: portfolio_card_title;
      a {
        color: var(--muted-blue);
      }
    }

    .portfolio_card_img {
      grid-area: portfolio_card_img;
      img {
        width:100%;
      }
    }

    .portfolio_card_text {
      grid-area: portfolio_card_text;

      p {
          margin: 0;
      }
      .portfolio_card_links {
        text-align: right;
		button.c2a {
			margin: 5px 0 ;
		}
      }
    }
}

@media only screen and (max-width: 650px) {
  .portfolio_card {
    grid-template-columns: 1fr;
    grid-template-row: max-content max-content max-content;
    grid-template-areas: "portfolio_card_title" "portfolio_card_img" "portfolio_card_text";
  }
}

// Portfolio entry page

code {
	font-family : monospace;
	display: inline-block;
	white-space: pre-wrap;
	background-color: var(--code-grey);
	padding: 0 2px;
	border-radius: 2px;
}

pre {
	width: 100%;
	display: flex;
	justify-content: center;
	code {
		border-left: 3px solid var(--muted-blue-light);
		padding:5px 15px;
		width: 80%;
	}
}

.portfolio_external_link {
  text-align: right;
}


figure.in_article{
    margin:0 2em;
    div{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        div{
            flex: 0 1 700px;
            margin: 1em;
            img{

                width: 100%;
                height: 100%;
            }
        }
        &.side_by_side div {
            flex: 0 1 auto;
        }
    }
    div.vid_wrapper{
        display: block;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        margin:1em;
        height: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    figcaption {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
}

@media only screen and (max-width: 650px) {
    figure.in_article{
        margin: 0;
        div.side_by_side {
            flex-direction: column;
        }
    }

	pre code{
		width: 100%
	}
}

@media only screen and (max-width: 650px) {
    figure.float_right{
        margin: 0;
        width:100%;
        display:block;
        div img{
            max-width: 100%;
        }
    }
}

// Fractal tree stuff
#canvas-holder{
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.options_holder {
	width: 100%;
	margin: 10px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

canvas{
	border: 1px solid var(--soft-grey);
}
