---
layout: page
selected: portfolio
title: Portfolio
---
{% for portfolio in site.portfolio_entries reversed %}
<div class="portfolio_card">
    <div class="portfolio_card_title">
        <a href="{{ portfolio.url }}"><h3>{{ portfolio.title }}</h3></a>
    </div>
    {% if portfolio.featured_img %}
    <div class="portfolio_card_img">
        <a href="{{ portfolio.url }}"><img src="{{ portfolio.featured_img }}" alt="{{ portfolio.title }}"></a>
    </div>
    {% endif %}
    <div class="portfolio_card_text">
        {{ portfolio.excerpt }}
		<div class="portfolio_card_links">
			<a href="{{ portfolio.url }}"><button class="c2a inline">Read more</button></a>
			{% if portfolio.external_link %}
			<a href="{{ portfolio.external_link }}"><button class="c2a inline">View project live</button></a>
			{% endif %}
			{% if portfolio.github_link %}
			<a href="{{ portfolio.github_link }}"><button class="c2a inline">View GitHub repo</button></a>
			{% endif %}
		</div>
    </div>
</div>
{% endfor %}
