---
layout: page
selected: portfolio
title: Portfolio
---
{% for portfolio in site.portfolio_entries %}
<div class="portfolio_card">
    <a href="{{ portfolio.url }}"><h3>{{ portfolio.title }}</h3></a>
    {% if portfolio.featured_img %}
    <a href="{{ portfolio.url }}"><img src="{{ portfolio.featured_img }}" alt="{{ portfolio.title }}"></a>
    {% endif %}
    <p>{{ portfolio.excerpt }}</p>
    <p><a href="{{ portfolio.url }}">Read more...</a></p>
</div>
{% endfor %}

<p><a href="/portfolio/index">Portfolio Index</a></p>
