#canvas-holder{
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.options_holder {
	width: 100%;
	margin: 10px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

canvas{
	border: 1px solid black;
}
