<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
</head>

<body id="myBody">
    {{ content }}
    <footer>
        {% if page.socials_footer %}
            {% include socials_footer.html %}
        {% endif %}
        <div id="mobile-indicator"></div>
    </footer>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/jquery.documentsize.js"></script>
<script src="/js/functions.js"></script>
{% if page.socials_footer %}
    <script src="/js/socials_footer.js"></script>
{% endif %}
<script src="/js/main.js"></script>
</html>
