<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Source+Sans+Pro">
    <!--link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    {% if page.display_latex %}
        <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
        </script>
    {% endif %}
	{% if page.katex %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.css" integrity="sha384-dbVIfZGuN1Yq7/1Ocstc1lUEm+AT+/rCkibIcC/OmWo5f0EA48Vf8CytHzGrSwbQ" crossorigin="anonymous">
		<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.1/dist/katex.min.js" integrity="sha384-2BKqo+exmr9su6dir+qCw08N2ZKRucY4PrGQPPWU1A7FtlCGjmEGFqXCv5nyM5Ij" crossorigin="anonymous"></script>
	{% endif %}
    <link rel="icon" href="/assets/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{site.title}}</title>
</head>

<body id="myBody">
    {% unless page.site_title == false %}
        <h1 class="site_title" id="site_title"><a href="/">{{ site.title }}</a></h1>
    {% endunless %}
    {{ content }}
    <footer>
        {% unless page.socials_footer == false %}
            {% include socials_footer.html %}
        {% endunless %}
        <div id="mobile-indicator"></div>
    </footer>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/jquery.documentsize.js"></script>
<script src="/js/functions.js"></script>
{% unless page.socials_footer == false %}
    <script src="/js/socials_footer.js"></script>
{% endunless %}
<script src="/js/main.js"></script>
</html>
