---
layout: default
---
{% include topnav.html selected="portfolio"%}
<main>
{% unless page.show_page_title == false %}
    <h2 class="post_title">{{ page.title }}</h2>
    <hr class="midrule">
{% endunless %}
{% if page.external_link %}
    <p class="portfolio_external_link"><a href="{{ page.external_link }}">View project live</a></p>
{% endif %}
{% if page.github_link %}
    <p class="portfolio_external_link"><a href="{{ page.github_link }}">View GitHub repo</a></p>
{% endif %}
{{content}}
{% if page.external_link %}
    <p class="portfolio_external_link"><a href="{{ page.external_link }}">View project live</a></p>
{% endif %}
{% if page.github_link %}
    <p class="portfolio_external_link"><a href="{{ page.github_link }}">View GitHub repo</a></p>
{% endif %}
</main>
